

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #cfcfcf;
    padding:0;
    margin: 0;

}

header{
    height: 175px;
    background-color: #fff;
    padding: 10px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #acacac;
    box-shadow: 10px 0px 20px #6d6d6d;
}

header h1{
    font-size: 4em;
    color:#1f1f1f;
}

.container-header{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 10%;
    font-size: 3rem;

}

.score{
    font-size: 1.5rem;
}

.gameboard{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 25px auto;
    height:600px;
    width:600px;
    border:1px solid #e6e6e6;
    background-color: #fff;
}

.gameboard-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e6e6e6;
}